@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

/* CSS for ReactCalendar component */
/* CSS for ReactCalendar component */
.calendar-container {
  font-family: Arial, sans-serif;
  max-width: 300px;
  margin: 0 auto;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calendar-header h2 {
  color: #563d7c;
  font-size: 24px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar-day {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.calendar-day:hover {
  background-color: #563d7c;
  color: #fff;
}

.calendar-day.selected {
  background-color: #563d7c;
  color: #fff;
}

.events-dialog {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.dialog-header span {
  color: #563d7c;
  font-weight: bold;
}

.events-list h3,
.competitions-list h3 {
  color: #563d7c;
  margin-bottom: 10px;
}

.events-list ul,
.competitions-list ul {
  list-style: none;
  padding: 0;
}

.events-list li,
.competitions-list li {
  margin-bottom: 10px;
}

.events-list h4,
.competitions-list h4 {
  color: #563d7c;
  font-size: 18px;
}

.events-list p,
.competitions-list p {
  color: #333;
  margin-bottom: 5px;
}

.events-list p:last-child,
.competitions-list p:last-child {
  margin-bottom: 0;
}






@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    .form-label{
        @apply p-8 ml-4 font-mono text-base font-light capitalize ;
    }
    .inputborder{
        @apply my-4 border-2 border-solid;
    }
}